<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="TreeWalker">

	<!--metriche-->
        <module name="BooleanExpressionComplexity">
		<property name="max" value="3"/>
	</module>
        <module name="CyclomaticComplexity">
		<property name="max" value="10"/>
	</module>
	<!--fine metriche-->        
	
	<!--size violation-->
	<module name="MethodLength"/>
	<!--fine size violation-->
    
	<!--block checks-->
        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected|ignore"/>
        </module>
        <!--fine block checks-->
	
	<!--import-->
	<module name="AvoidStarImport"/>
        <module name="IllegalImport"/>
	<!--fine import-->
        
	<!--block check-->
	<module name="NeedBraces">
            <property name="allowSingleLineStatement" value="true"/>
        </module>
	<!--fine block check-->
	
    </module>

    <!--size violation-->
    <module name="FileLength">
	<property name="max" value="2500"/>
    </module>
    <module name="LineLength">
	<property name="max" value="120"/>
    </module>
    <!--fine size violation-->

    <!--whitespace-->
    <module name="FileTabCharacter"/>
    <!--fine whitespace-->

    <module name="Header">
        <property name="header"
                value="////////////////////////////////////////////////////////////////////\n// [Maria] [Morra] [1073796]\n////////////////////////////////////////////////////////////////////"/>
    </module>
</module>